/* 
    Stylesheet code made by Felipe Sandoval. ALL RIGHTS RESERVED.
*/


/* FONTS */

@font-face{
  font-family: title;
  src: url("academic.TTF");
}

@font-face{
	font-family: subtitle;
	src: url("LEMONMILK.otf");
}

@font-face{
  font-family: body;
  src: url("philo.ttf");
}

@font-face{
	font-family: footer;
	src: url("LEMONMILK.otf");
}

/* COLORS */

.teal, .hover-teal:hover{
	color:#FFF;
	background-color:#3c3c3c;
}

.fill, .hover-fill:hover{
	color:#FFF;
	background-color: #BD1E51;
}

.text-white, .hover-text-white:hover{
	color:#fff;
}

.text-grey, .hover-text-grey:hover, .hover-text-grey:hover{
	color:#000;
}

.text-dates{
	color:#233237;
}

.body-color,.hover-body-color:hover,.body-color,.hover-body-color:hover{
	color:#000;
	background-color:#F4F4F4;
}

.white,.hover-white:hover{
	color:#000;
	background-color:#fff;
}

.text-black,.hover-text-black:hover{
	color:#000;
}

/* TAG PROPERTIES AND RESPONSIVE */

html{
	box-sizing:border-box
}

*, *:before,*:after{
	box-sizing:inherit
}

html{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body{
	margin: 0;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
	display:block
}

audio,canvas,progress,video{
	display:inline-block
}

progress{
	vertical-align:baseline;
}

a{
	background-color:transparent;
	-webkit-text-decoration-skip:objects;
}

a:active,a:hover{
	outline-width:0;
}

abbr[title]{
	border-bottom:none;
	text-decoration:underline;
	text-decoration:underline dotted;
}

dfn{
	font-style:italic
}

mark{
	background:#ff0;
	color:#000
}

small{
	font-size:80%
}

sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}

sub{
	bottom:-0.25em
}

sup{
	top:-0.5em
}

figure{
	margin:1em 40px
}

img{
	border-style:none;
}

code,kbd,pre,samp{
	font-size:1em;
}

hr{
	box-sizing:content-box;
	height:0;
	overflow:visible
}

button,input,select,textarea{
	font:inherit;margin:0
}

optgroup{
	font-weight:bold
}

button,input{
	overflow:visible
}

button,select{
	text-transform:none
}

button,html [type=button],[type=reset],[type=submit]{
	-webkit-appearance:button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{
	border-style:none;
	padding:0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{
	outline:1px dotted ButtonText
}

fieldset{
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:.35em .625em .75em;
}

legend{
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal;
}

textarea{
	overflow:auto;
}

[type=checkbox],[type=radio]{
	padding:0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
	height:auto
}

[type=search]{
	-webkit-appearance:textfield;
	outline-offset:-2px
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{
	-webkit-appearance:none
}

::-webkit-input-placeholder{
	color:inherit;opacity:0.54
}

::-webkit-file-upload-button{
	-webkit-appearance:button;font:inherit
}

html,body{
	font-family: body;
	font-size:15px;
	line-height:1.5
}

html{
	overflow-x:hidden
}

h1{
	font-size:36px
}

h2{
	font-size: 30px;
}

h3{
	font-size:24px
}

h4{
	font-size:20px
}

h5{
	font-size:18px
}

h6{
	font-size:16px
}

h2, h3,h4,h5,h6{
	font-family:body;
	font-weight:600;
	margin:10px 0;
}

/* Structure */

.wide{
	letter-spacing:4px
}

hr{
	border:0;
	border-top:1px solid #eee;
	margin:20px 0
}

img{
	margin-bottom:-5px
}

a{
	color:inherit
}

.badge, .tag{
	background-color:#233237;
	color:#fff;
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	text-align:center;
}

.badge{
	border-radius:50%
}

.display-container{
	position:relative
}

.row-padding:after, .row-padding:before, .cell-row:before,.cell-row:after, .clear:after,.clear:before, .bar:before, .bar:after{
	content:"";
	display:table;
	clear:both
}

.col,.half, .third, .twothird, .threequarter, .quarter{
	float:left;
	width:100%
}

@media(min-width:601px){
.third{width:33.33333%} .col.m5{width:41.66666%}.col.m6,.half{width:49.99999%}.col.m7{width:58.33333%}.col.m8, .twothird{width:66.66666%}
}

.content{
	max-width:980px;
	margin:auto;
}

.row-padding, .row-padding>.half, .row-padding> .third, .row-padding> .twothird, .row-padding> .threequarter, .row-padding> .quarter, .row-padding> .col{
	padding:0 8px
}

.container, .panel{
	padding:0.01em 16px
}

.panel{
	margin-top:16px;margin-bottom:16px
}

.card-2{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-4, .hover-shadow:hover{
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

/* Sizes */

.small{
	font-size:12px;
}

.medium{
	font-size:15px;
}

.large{
	font-size:18px;
}

.xxlarge{
	font-size:36px;
}

/* Margins & Distribution */

.display-container:hover{
	color: white;
}

.round-small{
	border-radius:2px
}

.round, .round-medium{
	border-radius:4px;
}

.round-large{
	border-radius:8px;
}

.round-xlarge{
	border-radius:16px;
}

.round-xxlarge{
	border-radius:32px;
}

.center{
	text-align: center;
}

.margin{
	margin:16px;
}

.margin-top{
	margin-top:16px;
}

.margin-bottom{
	margin-bottom:16px;
}

.margin-left{
	margin-left:16px;
}

.margin-right{
	margin-right:16px;
}

.padding-16{
	padding-top:16px;
	padding-bottom:16px;
}

.display-bottomleft{
	position:absolute;
	left:0;
	bottom:0;
}

.opacity,.hover-opacity:hover{
	opacity:0.60
}

.opacity-off,.hover-opacity-off:hover{
	opacity:1
}

.opacity-max{
	opacity:0.25
}

.opacity-min{
	opacity:0.75
}

/* Personalizations */

.title-name{
	font-family: "body";
	color: black;
	font-size: 40px;
	text-shadow: 1px 1px 2px #fff;
	font-weight: 600;
}

.fa-black {
	color: black;
}

.fa-dif {
	color: #490B3D;
}

.footer-copyright{
	margin: 2px;
	font-family: "footer";
	font-size: 20px;
	color: #000;
	cursor: default;
}

.name-brand{
	font-size: 15px;
	color: #000000;
}

.special{
	font-family: subtitle;
	font-size: 25px;
	text-transform: uppercase;
}
/* Social Buttons */

.social-button {
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 3.125rem;
	height: 3.125rem;
	border: 0.125rem solid transparent;
	padding: 0;
	font-size: 1.6rem;
	line-height: 2em;
	border-radius: 1.6875rem;
	transition: all 0.5s ease;
	margin-right: 0.25rem;
	background: #423c3c
}

.social-button:hover {
   -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   transform: rotate(360deg);
   background-color: #af473c;
}